@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #000;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0px;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0px;
}

.root {
  @apply container mx-auto mt-6 px-2;
}

h1 {
  @apply font-bold  text-xl mb-12 leading-6;
}

form label {
  @apply mb-2 block uppercase font-semibold text-sm;
}

form section {
  @apply mb-6;
}

form section.proportion {
  @apply mb-5;
}

form .unit {
  @apply font-bold inline-block text-lg py-1 border-b-2 border-black;
}

.price-changes input,
.pool-value input {
  @apply border-0 border-b-2 border-black text-lg py-1 px-2 font-semibold w-1/2;
}

.proportion {
  @apply text-center;
}

.proportion span {
  @apply font-semibold text-lg block;
  margin-bottom: -9px;
}

.price-changes {
  @apply grid grid-cols-2 gap-6 w-full;
}

.submit {
  @apply text-center mt-12;
}

button {
  @apply border-2 border-black bg-white px-4 py-2 text-xl font-semibold;
}

hr {
  @apply bg-black border-0 mb-6;
  height: 2px;
}

.result {
  @apply w-full uppercase;
}

.result tr {
  @apply border-b border-gray-400;
}

.result td {
  @apply font-semibold py-3;
}

.result td + td {
  @apply font-normal text-lg w-0;
}
